<!-- Title -->
<div class="p-1">
  <h1>Test</h1>
</div>
<hr />
<!-- String interpolation -->
<div class="p-1">
  <h2>String interpolation</h2>
  {{ testString }}
</div>
<hr />
<!-- Event binding -->
<div class="p-1">
  <h2>Event binding</h2>
  <button (click)="showData($event)">Click here</button>
  <button on-click="howData($event)">Click here 2</button>
</div>
<hr />
<!-- Property binding -->
<div class="p-1">
  <h2>Property binding</h2>
  Name: <input [value]="userName" /> Name2: <input value="{{ userName2 }}" />
</div>
<hr />
<!-- Attribute binding -->
<div class="p-1">
  <h2>Attribute binding binding</h2>
  <table border="1">
    <tr>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <td [attr.colspan]="columnSpan">3</td>
    </tr>
  </table>
</div>
<hr />
<!-- Class binding -->
<div class="p-1">
  <h2 [class]="colorRed">Class binding</h2>
  <h3 [class.blue]="applyCSSClass">Unaffected</h3>
</div>
<hr />
<!-- Style binding -->
<div class="p-1">
  <h2>Style binding</h2>
  <p [style.color]="styleBinding">This is red</p>
</div>
<hr />
<!-- Two-way data binding -->
<div>
  <h2>Two-way data binding</h2>
  <input type="text" [(ngModel)]="userName2Way" />
  <p>Two-way binding! Hello {{ userName2Way }}!</p>
</div>
<hr />
<!-- Structural directives -->
<div>
  <h1>Structural directives</h1>
</div>
<hr />
<!-- NgIf -->
<div>
  <h2>NgIf</h2>
  <div *ngIf="true">Display if ngIf = true</div>
  <div *ngIf="false">Display if ngIf = true</div>
</div>
<hr />
<!-- NgIfELse -->
<div>
  <h2>NgIfElse</h2>
  <div *ngIf="ngIfElseIsLogIn; else templateId">Logged in</div>
  <ng-template #templateId> Logged out </ng-template>
</div>
<hr />

<!-- ngFor -->
<div>
  <h2>ngFor</h2>
  <ul>
    <li *ngFor="let item of list">
      {{ item }}
    </li>
  </ul>
</div>
<hr />
<!-- ngFor but big - trackBy -->
<div>
  <h2>ngFor but big - trackBy</h2>
  <ul>
    <li *ngFor="let std of studentArr; trackBy: trackByData1">
      {{ std.name }}
    </li>
  </ul>
</div>

<hr />
<!-- ngSwitch -->
<ul [ngSwitch]="ngSwitchLogInName">
  <div *ngSwitchCase="'user'">User login</div>
  <div *ngSwitchCase="'admin'">admin login</div>
  <div *ngSwitchDefault>Default login</div>
</ul>
<hr>

<!-- Attribute directive -->
<div>
  <h1>Attribute directives</h1>
</div>
<hr>

<!-- ngStyle -->
<div>
  <h2>ngStyle</h2>
  <p [ngStyle]="{'color': ngStyleBlue,'font-weight': 'bold'}">
    Paragraph style is applied with ngStyle
  </p>
</div>
